
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.clear-bottom {
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
.wrapper {
	width: 100%;
	margin: 0px auto;
}

#masthead {
    padding: $margin-medium $margin-large;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
	@media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-medium $margin-standard-header-full-width;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logo.wrapper {
        width: 70%; 
        @media screen and (min-width: $mobilelandscapewidth){
            width: 20%;
            float: left;
        }
        .logo {
            width: 100%;
        }
    }
    #site-navigation {
        width: 100%;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 70%;
        }
        .menu-main-menu-container {
            #primary-menu {
                margin: 0;
                padding: 0;
                text-align: center;
                > li {
                    float: none;
                    display: inline-block;
                    padding: 0 0 0 $margin-small;
                    position: relative;
                    &:first-child {
                        padding: 0;
                    }
                    &:hover > ul,
                    &.focus > ul {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    a {
                        text-decoration: none;
                        color: $color__text-main;
                        &:hover {
                            color: $color__pdra-dark-blue;
                        }
                    }
                    .sub-menu {
                        width: 250px;
                        text-align: left;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                        float: left;
                        position: absolute;
                        top: 1.5em;
                        left: -999em;
                        z-index: 2;
                        margin: 0;
                        padding: $margin-small;
                        li {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            a {
                            }
                        }
                    }
                }
            }
        }
    }
}
#colophon {
    background-color: $color__pdra-teal;
    padding: $margin-medium $margin-large;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-standard-vertical-full-width-large $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
    }
    .column-1 {
        text-align: left;
    }
    .column-2 {
        text-align: right;
    }
    .column-1, .column-2 {
        padding: 0;
        margin: 0;
        color: white;
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 0;
                margin: 0;
                list-style-type: none;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 $margin-medium 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
        }
        .column-2 {
            .footer-quarry-title {
                margin: 0;
                padding: 0;
                font-weight: 600;
            }
        }
    }
    .row-2 {
        border-top: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: $margin-medium 0 0 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
        }
        .column-2 {
            ul {
                li {
                    float:left;
                    &:first-child {
                        a:before {
                            display: none;
                        }
                    }
                    a {
                        &:before {
                            content:"";
                            border-right: 2px solid white;
                            height: 15px;
                            margin: 0 8px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
