
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* Instead use this non-standard one: */
	word-break: break-word;
}
.clear {clear: both;}
.clear-bottom {
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
.wrapper {
	width: 100%;
	margin: 0px auto;
}
a.surrounding {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
h1,h2,h3,h4,h5,h6 {
    padding: $margin-medium 0;
    margin: 0;
    font-weight: 600;
}
h1 {
    font-size: $font__size-large;
}
h2 {
    font-size: $font__size-medium-large;
}
h3 {
    font-size: $font__size-medium;
}


#masthead {
    padding: $margin-medium $margin-large;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
	@media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-medium $margin-standard-header-full-width;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .logo.wrapper {
        width: 70%; 
        @media screen and (min-width: $mobilelandscapewidth){
            width: 20%;
            float: left;
        }
        .logo {
            width: 100%;
        }
    }
    #site-navigation {
        width: 100%;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 70%;
        }
        .menu-main-menu-container {
            #primary-menu {
                margin: 0;
                padding: 0;
                text-align: center;
                > li {
                    float: none;
                    display: inline-block;
                    padding: 0 0 0 $margin-small;
                    position: relative;
                    &:first-child {
                        padding: 0;
                    }
                    &:hover > ul,
                    &.focus > ul {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    a {
                        text-decoration: none;
                        color: $color__text-main;
                        &:hover {
                            color: $color__pdra-dark-blue;
                        }
                    }
                    .sub-menu {
                        width: 250px;
                        text-align: left;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                        float: left;
                        position: absolute;
                        top: 1.5em;
                        left: -999em;
                        z-index: 2;
                        margin: 0;
                        padding: $margin-small;
                        background-color: white;
                        li {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            a {
                            }
                        }
                    }
                }
            }
        }
    }
}
#colophon {
    background-color: $color__pdra-teal;
    padding: $margin-medium $margin-large;
    font-weight: 500;
    font-size: $font__size-medium-large;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-standard-vertical-full-width-large $margin-standard-footer-full-width $margin-standard-vertical-full-width-medium $margin-standard-footer-full-width;
    }
    .column-1 {
        text-align: center;
        @media screen and (min-width: $mobilelandscapewidth){
            text-align: left;
        }
        ul li {
            &:last-child {
                padding-bottom: $margin-medium;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding-bottom: 0;
                }
            }
        }
    }
    .column-2 {
        text-align: center;
        @media screen and (min-width: $mobilelandscapewidth){
            text-align: right;
        }
    }
    .column-1, .column-2 {
        padding: 0;
        margin: 0;
        color: white;
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 0;
                margin: 0;
                list-style-type: none;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
    .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 $margin-medium 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
        }
        .column-2 {
            .footer-quarry-title {
                margin: 0;
                padding: 0;
                font-weight: 600;
            }
        }
    }
    .row-2 {
        border-top: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: $margin-medium 0 0 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
            .email {
                padding-bottom: $margin-medium;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding-bottom: 0;
                }
            }
        }
        .column-2 {
            ul {
                li {
                    float:left;
                    &:first-child {
                        a:before {
                            display: none;
                        }
                    }
                    a {
                        &:before {
                            content:"";
                            border-right: 2px solid white;
                            height: 15px;
                            margin: 0 8px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
/*standard template for sub-nav header*/
.standard-sub-nav {
    position: relative;
    padding: $margin-medium $margin-large;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-standard-vertical-full-width-small $margin-standard-horizontal-full-width;
    }
    header {
        width: 100%;
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: $color__pdra-dark-blue;
            font-size: 27px;
            padding: 0;
        }
    }
    ul.sub-menu {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            padding: 0 0 0 $margin-medium;
            margin: 0;
            opacity: 0.5;
            list-style-type: none;
            &:first-child {
                padding: 0;
            }
            &.current-menu-item {
                opacity: 1;
            }
            a {
                text-decoration: none;
                color: $color__pdra-dark-blue;
                font-size: 27px;
            }
        }
    } 
    .background-image {
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        background-size: cover;
        width: 100%;
        z-index: -2;
        position: absolute;
        &:before {
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0.6;
            background-color: lightblue;
            position: absolute;
            content: "";
        }
    }
}
/*standard template for row-join */
.row-join {
    background-color: $color__pdra-dark-blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: $margin-medium $margin-large;
    @media screen and (min-width: $mobilelandscapewidth){
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: $margin-standard-vertical-full-width-medium-large $margin-standard-horizontal-full-width;
    }
    .column-1 {
        width: 100%;
        font-size: $font__size-medium-large;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 60%;
            font-size: $font__size-large;
        }
    }
    .column-2 {
        width: 207px;
        font-size: $font__size-medium-large;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 27%;
            font-size: $font__size-large;
            min-width: 227px;
        }
        .button {
            position: relative;
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            padding: 12% 0;
            border: 2px solid white;
            border-radius: 10px;
        }
    }
}
