
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	/* Instead use this non-standard one: */
	word-break: break-word;
}
.clear {clear: both;}
.clear-bottom {
    &:after {
        clear: both;
        display: block;
        content: "";
    }
}
.wrapper {
	width: 100%;
	margin: 0px auto;
}
a.surrounding {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 0 0 $margin-small 0;
    font-weight: 600;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
    color: $color__pdra-dark-blue;
}
h3 {
    font-size: 17px;
    color: $color__pdra-dark-blue;
}
.copy {
    font-weight: 500;
    font-size: 18px;
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    ul, ol {
        padding: 0;
        margin: 0 0 $margin-medium 0;
        li {
            margin: 0 0 0 $margin-medium;
            font-size: 18px;
            padding: 0;
        }
    }
    a {
        color: #589998;
        &:hover {
            color: $color__pdra-dark-blue;
        }
    }
}
p {
    margin: $margin-medium 0;
}


#masthead {
    padding: $margin-medium $margin-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
	@media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-medium $margin-standard-header-full-width;
    }
    .logo.wrapper {
        position: relative;
        width: 30%; 
        margin: 0;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 15%;
        }
        .logo {
            width: 100%;
            display: block;
        }
    }
    #site-navigation {
        width: 60%;
        padding: 0;
        text-align: right;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 75%;
        }
        .menu-main-menu-container {
            width: 97%;
            float: left;
            display: none;
            @media screen and (min-width: $mobilelandscapewidth){
                display: block;
            }
            #primary-menu {
                margin: 0;
                padding: 0;
                font-weight: 500;
                text-align: center;
                li {
                    font-size: 16px;
                }
                > li {
                    float: none;
                    display: inline-block;
                    padding: 0 0 0 $margin-extra-large;
                    margin: 2px 0;
                    position: relative;
                    &:first-child {
                        padding-left: 0;
                    }
                    &:hover > ul,
                    &.focus > ul {
                        left: 50%;
                        transform: translateX(-40%);
                    }
                    a {
                        text-decoration: none;
                        color: $color__text-main;
                        &:hover {
                            color: $color__pdra-dark-blue;
                            border-bottom: 2px solid $color__pdra-dark-blue;
                        }
                        &.active {
                            border-bottom: 2px solid $color__pdra-dark-blue;
                        }
                    }
                    .sub-menu {
                        width: 250px;
                        text-align: left;
                        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                        float: left;
                        position: absolute;
                        top: 1.5em;
                        left: -999em;
                        z-index: 2;
                        margin: 0;
                        padding: $margin-small;
                        background-color: white;
                        border-top: 2px solid $color__pdra-dark-blue;
                        li {
                            list-style-type: none;
                            padding: 0;
                            margin: 0;
                            a {
                                line-height: 1.2;
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        .fa-facebook {
            text-align: center;
            font-size: 20px;
            line-height: 1.2;
            position: relative;
            @media screen and (min-width: $mobilelandscapewidth){
                float: right;
            }
        }
        .fa-bars {
            font-size: 20px;
            line-height: 1.2;
            padding: 0 0 0 $margin-small;
            @media screen and (min-width: $mobilelandscapewidth){
                display: none;
            }
        }
    }
}
#page {
    position: relative;
    .mobile-menu {
        width: 80%;
        position: absolute;
        padding: $margin-medium;
        right: -100%;
        top: 0;
        z-index: 2;
        background-color: white;
        color: black;
        @media screen and (min-width: $mobilelandscapewidth){
            display: none;
        }
        .fa-bars {
            width: 100%;
            font-size: 20px;
            line-height: 1.2;
            padding: 0 0 $margin-small 0;
        }
        ul {
            margin: 0;
            padding: 0;
            li {
                margin: 0 0 0 $margin-medium;
                padding: 0;
                a {
                    color: $color__text-screen;
                    text-decoration: none;
                    display: inline-block;
                    line-height: 1.2;
                    &:hover {
                        color: $color__pdra-dark-blue;
                        border-bottom: 2px solid $color__pdra-dark-blue;
                    }
                    &.active {
                        border-bottom: 2px solid $color__pdra-dark-blue;
                    }
                }
            }
        }
    }
}
#colophon {
    background-color: $color__pdra-teal;
    padding: $margin-medium $margin-large;
    font-weight: 500;
    font-size: $font__size-medium-large;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-standard-vertical-full-width-large $margin-standard-footer-full-width $margin-standard-vertical-full-width-medium $margin-standard-footer-full-width;
    }
    .column-1 {
        text-align: center;
        width: 100%;
        @media screen and (min-width: $mobilelandscapewidth){
            text-align: left;
            width: auto;
        }
        ul li {
            &:last-child {
                padding-bottom: $margin-medium;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding-bottom: 0;
                }
            }
        }
    }
    .column-2 {
        text-align: center;
        width: 100%;
        @media screen and (min-width: $mobilelandscapewidth){
            text-align: right;
            width: auto;
        }
    }
    .column-1, .column-2 {
        padding: 0;
        margin: 0;
        color: white;
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 0;
                margin: 0;
                list-style-type: none;
                a {
                    color: white;
                    text-decoration: none;
                    &:hover {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .row-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: 0 0 $margin-medium 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
        }
        .column-2 {
            .footer-quarry-title {
                margin: 0;
                padding: 0;
                font-weight: 600;
            }
        }
    }
    .row-2 {
        border-top: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        padding: $margin-medium 0 0 0;
        @media screen and (min-width: $mobilelandscapewidth){
            justify-content: space-between;
            flex-wrap: nowrap;
        }
        .column-1 {
            .email {
                padding-bottom: $margin-medium;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding-bottom: 0;
                }
                &:hover {
                    font-weight: 600;
                }
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
        .column-2 {
            ul {
                li {
                    display: block;
                    width: 100%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        display: inline-block;
                        width: auto;
                    }
                    &:first-child {
                        @media screen and (min-width: $mobilelandscapewidth){
                            a:before {
                                display: none;
                            }
                        }
                    }
                    a {
                        @media screen and (min-width: $mobilelandscapewidth){
                            &:before {
                                content:"";
                                border-right: 2px solid white;
                                height: 15px;
                                margin: 0 8px 0 3px;
                                display: inline-block;
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*standard template for sub-nav header*/
.standard-sub-nav {
    position: relative;
    padding: $margin-medium $margin-large;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-standard-vertical-full-width-small $margin-standard-horizontal-full-width;
    }
    header {
        width: 100%;
        text-align: center;
        h1 {
            text-transform: uppercase;
            color: $color__pdra-dark-blue;
            font-size: 27px;
            padding: 0;
        }
    }
    ul.sub-menu {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            margin: 0;
            list-style-type: none;
            padding: 0;
            width: 100%;
            display: block;
            @media screen and (min-width: $mobilelandscapewidth){
                display: inline-block;
                width: auto;
                padding: 0 0 0 $margin-medium;
            }
            &:first-child {
                padding: 0;
            }
            a {
                opacity: 0.5;
                text-decoration: none;
                color: $color__pdra-dark-blue;
                font-size: 27px;
                &.active {
                    opacity: 1;
                }
            }
        }
    } 
    .background-image {
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        background-size: cover;
        width: 100%;
        opacity: 0.25;
        z-index: -2;
        position: absolute;
        &:before {
            display: block;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1;
            opacity: 0.05;
            background-color: #231f20;
            position: absolute;
            content: "";
        }
    }
}
/*standard template for row-join */
.row-join {
    background-color: $color__pdra-dark-blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: $margin-medium $margin-large;
    @media screen and (min-width: $mobilelandscapewidth){
        justify-content: space-between;
        flex-wrap: nowrap;
        padding: $margin-standard-vertical-full-width-medium-large $margin-standard-horizontal-full-width;
    }
    .column-1 {
        width: 100%;
        font-size: $font__size-medium-large;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 60%;
            font-size: $font__size-large;
        }
    }
    .column-2 {
        width: 207px;
        font-size: $font__size-medium-large;
        @media screen and (min-width: $mobilelandscapewidth){
            width: 27%;
            font-size: $font__size-large;
            min-width: 227px;
        }
        .button {
            position: relative;
            width: 100%;
            text-transform: uppercase;
            text-align: center;
            padding: 12% 0;
            border: 2px solid white;
            border-radius: 10px;
            &:hover {
                background-color: $color__pdra-teal;
            }
        }
    }
}
.row-minutes {
    padding: $margin-medium $margin-large;
    font-weight: 500;
    font-size: 18px;
    @media screen and (min-width: $mobilelandscapewidth){
        padding: $margin-medium $margin-standard-vertical-full-width-extra-large $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
    }
    &.bod-ga.row-3 {
        padding: $margin-medium $margin-large 0 $margin-large;
        @media screen and (min-width: $mobilelandscapewidth){
            padding: $margin-medium $margin-standard-vertical-full-width-extra-large 0 $margin-standard-vertical-full-width-extra-large;
        }
    }
    &.bod-ga.row-4 {
        padding: $margin-medium $margin-large;
        @media screen and (min-width: $mobilelandscapewidth){
            padding: $margin-medium $margin-standard-vertical-full-width-extra-large $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
        }
    }
    header {
        width: 100%;
        text-align: left;
        margin: 0 auto $margin-small 0;
        h2 {    
            font-size: $font__size-medium-large;
            text-transform: uppercase;
            padding: 0;
            margin:0;
            color: $color__pdra-dark-blue;
        }
    }
    .minutes {
        a {
            color: $color__pdra-teal;
            &:hover {
                color: $color__pdra-dark-blue;
            }
        }
    }
}
