article {
    /* index page */
    &.template-index {
        .row-1 {
            position: relative;
            img.full-width {
                width: 100%;
                display: block;
            }
            header {
                margin: 0;
                padding: 0 $margin-medium;
                position: absolute;
                width: 100%;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translateY(-50%) translateX(-50%);
                text-align: center;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding: 0 $margin-standard-horizontal-full-width;
                }
                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    @media screen and (min-width: $mobilelandscapewidth){
                        font-size: 30px;
                    }    
                    @media screen and (min-width: $tabwidth){
                        font-size: 55px;
                    }
                }
            }
        }
        .row-2 {
            /* see row join */
        }
        .row-3 {
            position: relative;
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-large $margin-standard-horizontal-full-width;
            } 
            .background-image {
                display: block;
                top: 0;
                left: 0;
                height: 100%;
                background-size: cover;
                width: 100%;
                z-index: -2;
                opacity: 0.25;
                position: absolute;
                &:before {
                    display: block;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    opacity: 0.05;
                    background-color: #231f20;
                    position: absolute;
                    content: "";
                }
            }
            .column.wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                @media screen and (min-width: $mobilelandscapewidth){
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                }
                .column-1, .column-2, .column-3 {
                    width: 100%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 25%;
                    }
                    header {
                        h2 {
                            padding-top: 0;
                            font-size: 24px;
                            text-transform: uppercase;
                        }
                    }
                    .copy {
                        font-weight: 500;
                        font-size: 18px;
                        padding-bottom: $margin-medium;
                    }
                    .button {
                        margin: 0 auto 0 0;
                        position: relative;
                        padding: 5%;
                        text-align: center;
                        text-transform: uppercase;
                        border-radius: 10px;
                        border: 2px solid $color__pdra-dark-blue;
                        color: $color__pdra-dark-blue;
                        font-size: 15px;
                        font-weight: 600;
                        display: inline-block;
                        &:hover {
                            color: white;
                            background-color: $color__pdra-dark-blue;
                        }
                    }
                }
                .column-3 {
                    .copy {
                        .event {
                            font-size: $font__size-medium;
                            &:after {
                                content: "";
                                display: block;
                                clear: both;
                            }
                            .date {
                                float: left;
                                width: 30%;
                            }
                            .title {
                                color: $color__pdra-dark-blue;
                                float: right;
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
    /* leadership page */
    &.template-leadership {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width 0 $margin-standard-horizontal-full-width;
            } 
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 32%;
                }
            }
            .copy {
            }
        }
        .row-3, .row-4, .row-5 {
            padding: 0 $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width;
            } 
            &:after {
                clear: both;
                content: "";
                display: block;
            } 
            > header {
                width: 100%;
                text-align: left;
                margin: $margin-large auto 8px 0;
                h2 {
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium 0 0;
                    display: inline-block;
                    @media screen and (min-width: $mobilelandscapewidth){
                        min-width: 30%;
                    }
                }
            }
            .north-district, .south-district, .central-district {
                &:after {
                    clear: both;
                    content: "";
                    display: block;
                }
                header {
                    width: 100%;
                    text-align: left;
                    margin: $margin-large auto 3px 0;
                    h3 {
                        font-size: $font__size-medium;
                        text-transform: uppercase;
                        color: $color__pdra-dark-blue;
                        padding: 0;
                    }
                }
            }
            .north-district {
                header {
                    margin-top: 10px;
                }
            }
            .officer.wrapper, .board-north.wrapper, .board-central.wrapper, .board-south.wrapper, .manager.wrapper  {
                .officer, .board-north, .board-central, .board-south, .manager {
                    float: left;
                    width: 100%;
                    margin: 10px 0 0 0;
                    font-size: 18px;
                    &:first-child {
                        margin-top: 0;
                    }
                    @media screen and (min-width: $mobiletinywidth){
                        margin-left: 10%;
                        width: 45%;
                        &:nth-child(odd){
                            margin-left: 0;
                        }
                        &:nth-child(2) {
                            margin-top: 0;
                        }
                    }
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 30%;
                        margin: 20px 0 0 5%;
                        &.count-0 {
                            clear: left;
                        }
                        &.count-2 {
                            clear: right;
                        }
                        &:nth-child(odd){
                            margin-left: 5%;
                        }
                        &.count-0 {
                            margin-left: 0;
                        }
                        &.row-0 {
                            margin-top: 0;
                        }
                    }
                    img {
                        width: 100%;
                        display: block;
                        margin: 0 0 15px 0;
                    }
                    .title {
                        font-weight: 500;
                        margin: 0;
                        line-height: 1.4;
                        .name {
                            text-transform: uppercase;
                        }
                        .position {
                        }
                    }
                    .term, .location {
                        margin: 0 0 $margin-medium 0;
                        line-height: 1.4;
                    }
                    .tel {
                        margin: 0;
                        line-height: 1.4;
                    }
                    .email {
                        color: $color__pdra-dark-blue;
                        font-size: 24px;
                        display: inline-block;
                        position: relative;
                        margin: 0 auto 0 0;
                    }
                }
            }
        }
        .row-6 {
            padding: 0 $margin-large $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }  
            &:after {
                clear: both;
                content: "";
                display: block;
            }
            header {
                width: 100%;
                text-align: left;
                margin: $margin-large auto $margin-large 0;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium 0 0;
                    display: inline-block;
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    @media screen and (min-width: $mobilelandscapewidth){
                        min-width: 30%;
                    }
                }
            }
            .trustee.wrapper {
                .trustee { 
                    float: left;
                    width: 100%;
                    margin: 20px 0 0 0;
                    font-size: 18px;
                    &:first-child {
                        margin-top: 0;
                    }
                    @media screen and (min-width: $mobiletinywidth){
                        margin-left: 10%;
                        width: 40%;
                        &:nth-child(2) {
                            margin-top: 0;
                        }
                        &:nth-child(odd){
                            margin-left: 0;
                        }
                    }
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 30%;
                        margin: 40px 0 0 5%;
                        &.count-0 {
                            clear: left;
                        }
                        &.count-2 {
                            clear: right;
                        }
                        &:nth-child(odd){
                            margin-left: 5%;
                        }
                        &.count-0 {
                            margin-left: 0;
                        }
                        &.row-0 {
                            margin-top: 0;
                        }
                    }
                    .name {
                        text-transform: uppercase;
                        font-weight: 500;
                    }
                    .location {
                    }
                }
            }
        }
    }
    &.template-join {/* page template */
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .copy {
            }
        }
        .row-3 {
            /* see row join */
        }
    }
    &.template-page {/* page template */
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .copy {
            }
        }
    }
    &.template-ga-minutes, &.template-bod-minutes {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large 0 $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large 0 $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .copy {
            }
        }
        .row-3 {
            /* see row minutes */
        }
        .row-4 {
            /* see row join */
        }
    }
    &.template-affiliates {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large 0 $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large 0 $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .copy {
            }
        }
        .row-3 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h2 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .affiliate {
                padding: $margin-extra-large 0 0 0;
                &:first-child {
                    padding-top: 0;
                }
                &:after {
                    clear: both;
                    display: block;
                    content: "";
                }
                .column-1 {
                    width: 60%;
                    float: left;
                    p {
                        margin: 0;
                    }
                    header {
                        text-align: left;
                        margin: 0 0 $margin-medium 0;
                        padding: 0;
                        h3 {
                            margin: 0;
                            padding: 0;
                        }
                    }
                    > div {
                        margin-bottom: $margin-small;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .address {
                    }
                    .phone-number {
                    }
                    .hours {
                    }
                    .owner {
                    }
                    .email-address {
                        a {
                            color: black;
                            text-decoration: none;
                            &:hover {
                                color: $color__pdra-dark-blue;
                            }
                        }
                    }
                    .other-information {
                    }
                    .website {
                        a {
                            color: black;
                            text-decoration: none;
                            &:hover {
                                color: $color__pdra-dark-blue;
                            }
                        }
                    }
                }
                .column-2 {
                    width: 40%;
                    float: right;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
        .row-4 {
            /* see row join */
        }
    }
    &.template-bod-ga-minutes {/* page template */
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large 0 $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large 0 $margin-standard-vertical-full-width-extra-large;
            }
            header {
                width: 100%;
                text-align: center;
                margin: 0 0 $margin-medium 0;
                h1 {    
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 auto;
                    display: inline-block;
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium;
                    min-width: 40%;
                }
            }
            .copy {
            }
        }
        .row-3 {
            /* see row minutes */
        }
        .row-4 {
            padding-top: 0;
            /* see row minutes */
        }
        .row-5 {
            /* see row join */
        }
    }
    &.template-quarry {
        padding-bottom: 1%;
        .row-1 {
            /* see standard sub nav*/
            a.active {
                opacity: 1;
            }
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }
            header {
                width: 100%;
                text-align: left;
                margin: 0 auto $margin-small 0;
                h1 {    
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium 0 0;
                    display: inline-block;
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    @media screen and (min-width: $mobilelandscapewidth){
                        min-width: 50%;
                    }
                }
            }
            .column.wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                @media screen and (min-width: $mobilelandscapewidth){
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                } 
                .column-1 {
                    width: 100%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 50%;
                    }
                    .map {
                        width: 100%;
                        iframe {
                            display: block;
                            width: 100%;
                        }
                    }
                    .map-info {
                        margin: $margin-medium 0 $margin-large 0;
                        font-weight: 600;
                        font-size: 18px;
                        &:after {
                            content: "";
                            clear: both;
                            display: block;
                        }
                        .button {
                            float: right;   
                            position: relative;
                            margin: 0 auto 0 0;
                            padding: 3% 8%;
                            text-align: center;
                            text-transform: uppercase;
                            border-radius: 10px;
                            border: 2px solid $color__pdra-dark-blue;
                            color: $color__pdra-dark-blue;
                            font-size: 15px;
                            font-weight: 600;
                            display: inline-block;
                            &:hover {
                                color: white;
                                background-color: $color__pdra-dark-blue;
                            }
                        }
                        .address {
                            width: 100%;
                            margin: 0 0 $margin-small 0;
                        }
                        .lat-long {
                            width: 100%;
                        }
                    }
                    .copy {
                    }
                }
                .column-2 {
                    width: 100%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 40%;
                    }
                    .pdf-image {
                        width: 100%;
                        margin-top: $margin-medium;
                        @media screen and (min-width: $mobilelandscapewidth){
                            margin-top: 0;
                        }
                        img {
                            display: block;
                            width: 100%;
                        }
                    }
                    .button {
                        position: relative;
                        margin: $margin-small auto 0 0;
                        padding: 3% 8%;
                        text-align: center;
                        text-transform: uppercase;
                        border-radius: 10px;
                        border: 2px solid $color__pdra-dark-blue;
                        color: $color__pdra-dark-blue;
                        font-size: 15px;
                        font-weight: 600;
                        display: inline-block;
                        &:hover {
                            color: white;
                            background-color: $color__pdra-dark-blue;
                        }
                    }
                    .manager.wrapper {
                        header {
                            width: 100%;
                            text-align: left;
                            margin: $margin-medium auto 0 0;
                            h3 {
                                font-size: 24px;
                                text-transform: uppercase;
                                padding: 0 $margin-medium 0 0;
                                display: inline-block;
                                border-bottom: 2px solid $color__pdra-dark-blue;
                                @media screen and (min-width: $mobilelandscapewidth){
                                    min-width: 80%;
                                }
                            }
                        }
                        .manager {
                            width: 100%;
                            margin: $margin-small 0 0 0;
                            &:after {
                                clear: both;
                                display: block;
                                content: "";
                            }
                            img {
                                width: 40%;
                                float: left;
                                display: block;
                                margin: 0 15px 0 0;
                            }
                            .title {
                                font-weight: 500;
                                margin: 0 0 $margin-medium 0;
                                line-height: 1.4;
                                .name {
                                    text-transform: uppercase;
                                }
                                .position {
                                }
                            }
                            .tel {
                                margin: 0;
                                line-height: 1.4;
                            }
                            .email {
                                color: $color__pdra-dark-blue;
                                font-size: 24px;
                                display: inline-block;
                                position: relative;
                                margin: 0 auto 0 0;
                            }
                        }
                    }
                }
            }
        }
        .row-3 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }
            header {
                width: 100%;
                text-align: left;
                margin: 0 auto $margin-small 0;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium 0 0;
                    display: inline-block;
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    @media screen and (min-width: $mobilelandscapewidth){
                        min-width: 26%;
                    }
                }
            }
            .gallery.wrapper {
                margin-bottom: 0;
                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }
                .thumbnail {
                    float: left;
                    width: 100%;
                    margin: 10px 0 0 0;
                    font-size: 18px;
                    &:first-child {
                        margin-top: 0;
                    }
                    @media screen and (min-width: $mobiletinywidth){
                        margin-left: 10%;
                        width: 45%;
                        &:nth-child(2) {
                            margin-top: 0;
                        }
                        &:nth-child(odd){
                            margin-left: 0;
                        }
                    }
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 26%;
                        margin: 20px 0 0 11%;
                        &.count-0 {
                            clear: left;
                        }
                        &.count-2 {
                            clear: right;
                        }
                        &:nth-child(odd){
                            margin-left: 11%;
                        }
                        &.count-0 {
                            margin-left: 0;
                        }
                        &.row-0 {
                            margin-top: 0;
                        }
                    }
                    a.gallery {
                        margin-bottom: 0;
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
        .row-4 {
            padding: 0 $margin-large $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }
            header {
                width: 100%;
                text-align: left;
                margin: 0 auto $margin-small 0;
                
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0 $margin-medium 0 0;
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    display: inline-block;
                    @media screen and (min-width: $mobilelandscapewidth){
                        min-width: 26%;
                    }       
                }
            }
            .video.wrapper {
                &:after {
                    content: "";
                    clear: both;
                    display: block;
                }
                .thumbnail {
                    float: left;
                    width: 100%;
                    margin: 10px 0 0 0;
                    font-size: 18px;
                    &:first-child {
                        margin-top: 0;
                    }
                    @media screen and (min-width: $mobiletinywidth){
                        margin-left: 10%;
                        width: 45%;
                        &:nth-child(2) {
                            margin-top: 0;
                        }
                        &:nth-child(odd){
                            margin-left: 0;
                        }
                    }
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 26%;
                        margin: 20px 0 0 11%;
                        &.count-0 {
                            clear: left;
                        }
                        &.count-2 {
                            clear: right;
                        }
                        &:nth-child(odd){
                            margin-left: 11%;
                        }
                        &.count-0 {
                            margin-left: 0;
                        }
                        &.row-0 {
                            margin-top: 0;
                        }
                    }
                    iframe {
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
    &.template-quarry-landing {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }
            &:after {
                clear: both;
                display: block;
                content: "";
            }
            .quarry {
                float: left;
                width: 100%;
                margin: 10px 0 0 0;
                font-size: 18px;
                &:first-child {
                    margin-top: 0;
                }
                /*@media screen and (min-width: $mobiletinywidth){
                    margin-left: 10%;
                    width: 45%;
                    &:nth-child(2) {
                        margin-top: 0;
                    }
                    &:nth-child(odd){
                        margin-left: 0;
                    }
                }*/
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 26%;
                    margin: 20px 0 0 11%;
                    &.count-0 {
                        clear: left;
                    }
                    &.count-2 {
                        clear: right;
                    }
                    &:nth-child(odd){
                        margin-left: 11%;
                    }
                    &.count-0 {
                        margin-left: 0;
                    }
                    &.row-0 {
                        margin-top: 0;
                    }
                }
                header {
                    width: 100%;
                    text-align: left;
                    border-bottom: 2px solid $color__pdra-dark-blue;
                    margin: 0 0 $margin-small 0;
                    h2 {
                        font-size: 24px;
                        text-transform: uppercase;
                        padding: 0;
                    }
                }
                img {
                    width: 100%;
                    display: block;
                    margin: 0 0 $margin-small 0;
                }
                .address {
                    width: 100%;
                    margin: 0 0 $margin-small 0;
                    font-weight: 600;
                    font-size: 18px;
                }
                .button {
                    position: relative;
                    margin: $margin-small auto 0 0;
                    padding: 3% 8%;
                    text-align: center;
                    text-transform: uppercase;
                    border-radius: 10px;
                    border: 2px solid $color__pdra-dark-blue;
                    color: $color__pdra-dark-blue;
                    font-size: 15px;
                    font-weight: 600;
                    display: inline-block;
                    &:hover {
                        color: white;
                        background-color: $color__pdra-dark-blue;
                    }
                }
            }
        }
    }
    &.template-sitemap {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large $margin-medium $margin-standard-vertical-full-width-extra-large;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    margin: 0 0 0 $margin-medium;
                    padding: 0;
                }
            }
        }
        .row-3 {
            padding: 0 $margin-large $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-vertical-full-width-extra-large $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
            }
            &.none-above {
                 padding-top: $margin-medium;
                @media screen and (min-width: $mobilelandscapewidth){
                    padding-top: $margin-standard-vertical-full-width-medium;
                }
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    margin: 0 0 0 $margin-medium;
                    padding: 0;
                }
            }
        }
    }
}
.error-404 {
    .row-1 {
        /* see standard sub nav */
    }
    .row-2 {
        padding: $margin-medium $margin-large;
        @media screen and (min-width: $mobilelandscapewidth){
            padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
        }
        ul {
            padding: 0;
            margin: 0;
            li {
                margin: 0 0 0 $margin-medium;
                font-size: 18px;
                padding: 0;
            }
        }
    }
}
