article {
    /* index page */
    &#post-51 {
        .row-1 {
            position: relative;
            img.full-width {
                width: 100%;
                display: block;
            }
            header {
                margin: 0;
                padding: 0;
                position: absolute;
                width: 80%;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translateY(-50%) translateX(-50%);
                text-align: center;
                h1 {
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    font-weight: 600;
                    color: white;
                    @media screen and (min-width: $mobilelandscapewidth){
                        font-size: 30px;
                    }    
                    @media screen and (min-width: $tabwidth){
                        font-size: 55px;
                    }
                }
            }
        }
        .row-2 {
            /* see row join */
        }
        .row-3 {
            position: relative;
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-large $margin-standard-horizontal-full-width;
            } 
            .background-image {
                display: block;
                top: 0;
                left: 0;
                height: 100%;
                background-size: cover;
                width: 100%;
                z-index: -2;
                position: absolute;
                &:before {
                    display: block;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 1;
                    opacity: 0.6;
                    background-color: lightblue;
                    position: absolute;
                    content: "";
                }
            }
            .column.wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: wrap;
                @media screen and (min-width: $mobilelandscapewidth){
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: nowrap;
                }
                .column-1, .column-2, .column-3 {
                    width: 100%;
                    @media screen and (min-width: $mobilelandscapewidth){
                        width: 25%;
                    }
                    header {
                        h2 {
                            padding-top: 0;
                            font-size: 24px;
                            text-transform: uppercase;
                        }
                    }
                    .copy {
                        font-weight: 500;
                        font-size: 18px;
                        padding-bottom: $margin-medium;
                    }
                    .button {
                        margin: 0 auto 0 0;
                        position: relative;
                        padding: 5%;
                        text-align: center;
                        text-transform: uppercase;
                        border-radius: 10px;
                        border: 2px solid $color__pdra-dark-blue;
                        color: $color__pdra-dark-blue;
                        font-size: 15px;
                        font-weight: 600;
                        display: inline-block;
                    }
                }
                .column-3 {
                    .copy {
                        .event {
                            font-size: $font__size-medium;
                            &:after {
                                content: "";
                                display: block;
                                clear: both;
                            }
                            .date {
                                float: left;
                                width: 30%;
                            }
                            .title {
                                color: $color__pdra-dark-blue;
                                float: right;
                                width: 70%;
                            }
                        }
                    }
                }
            }
        }
    }
    /* leadership page */
    &#post-12 {
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width 0 $margin-standard-horizontal-full-width;
            } 
            header {
                width: 30%;
                text-align: center;
                border-bottom: 2px solid $color__pdra-dark-blue;
                margin: 0 auto;
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
            .copy {
            }
        }
        .row-3, .row-4, .row-5 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width;
            } 
            &:after {
                clear: both;
                content: "";
                display: block;
            } 
            > header {
                width: 30%;
                text-align: left;
                border-bottom: 2px solid $color__pdra-dark-blue;
                margin: 30px auto 8px 0;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
            .north-district, .south-district, .central-district {
                &:after {
                    clear: both;
                    content: "";
                    display: block;
                }
                header {
                    width: 30%;
                    text-align: left;
                    margin: 30px auto 3px 0;
                    h3 {
                        font-size: $font__size-medium;
                        text-transform: uppercase;
                        color: $color__pdra-dark-blue;
                        padding: 0;
                    }
                }
            }
            .north-district {
                header {
                    margin-top: 10px;
                }
            }
            .officer, .board-north, .board-central, .board-south, .manager {
                float: left;
                width: 40%;
                margin: 0 0 0 10%;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 30%;
                    margin: 0 0 0 5%;
                    &.count-0 {
                        clear: left;
                    }
                    &.count-2 {
                        clear: right;
                    }
                }
                &.count-0 {
                    margin: 0;
                }
                img {
                }
                .title {
                }
                .term {
                }
                .tel {
                }
                .email {
                }
            }
        }
        .row-6 {
            padding: $margin-medium $margin-large;
            @media screen and (min-width: $mobilelandscapewidth){
                padding: 0 $margin-standard-horizontal-full-width $margin-standard-vertical-full-width-medium $margin-standard-horizontal-full-width;
            }  
            &:after {
                clear: both;
                content: "";
                display: block;
            }
            header {
                width: 30%;
                text-align: left;
                border-bottom: 2px solid $color__pdra-dark-blue;
                margin: 30px auto 5px 0;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
            .trustee { 
                float: left;
                width: 40%;
                margin: 0 0 0 10%;
                @media screen and (min-width: $mobilelandscapewidth){
                    width: 30%;
                    margin: 0 0 0 5%;
                    &.count-0 {
                        clear: left;
                    }
                    &.count-2 {
                        clear: right;
                    }
                }
                &.count-0 {
                    margin: 0;
                }
                .name {
                }
                .location {
                }
            }
        }
    }
    &.template-page {/* page template */
        .row-1 {
            /* see standard sub nav */
        }
        .row-2 {
            padding: $margin-standard-vertical-full-width-medium $margin-standard-vertical-full-width-extra-large;
            header {
                width: 30%;
                text-align: center;
                border-bottom: 2px solid $color__pdra-dark-blue;
                margin: 0 auto;
                h1 {
                    font-size: 24px;
                    text-transform: uppercase;
                    padding: 0;
                }
            }
            .copy {
            }
        }
        .row-3 {
            /* see row join */
        }
    }
}
