$size__site-main: 100%;
$size__site-sidebar: 25%;
$mobiletinywidth: 350px;
$mobileportraitwidth: 500px;
$mobilelandscapewidth: 600px;
$tabwidth: 700px;
$midwidth: 900px;
$deskwidth: 1300px;

$margin-tiny: 5px;
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$margin-extra-large: 40px;

$margin-standard-header-full-width: 6%;
$margin-standard-footer-full-width: 8%;
$margin-standard-horizontal-full-width: 10%;
$margin-standard-vertical-full-width-small: 3%;
$margin-standard-vertical-full-width-medium: 4%;
$margin-standard-vertical-full-width-medium-large: 5%;
$margin-standard-vertical-full-width-large: 8%;
